<div id="nhsuk-cookie-banner">
  <div class="nhsuk-cookie-banner" id="cookiebanner">
    <div class="nhsuk-width-container"> 
        <h2>Cookies on this service</h2> 
        <p>We've put some small files called cookies on your device to make our site work.</p>
        <p>This service will not work without cookies.</p>
        <p>We'll also use a cookie to save your choice.</p>
        <ul> 
            <li><a class="nhsuk-button" id="button_accept_cookies" href="#" tabindex="2">I'm OK with cookies</a></li>
            <li><a class="nhsuk-button nhsuk-button--secondary" id="button_reject_cookies" href="error-nocookies" tabindex="3">Do not use cookies</a></li>
        </ul>
    </div>
  </div>

  <div class="nhsuk-success-banner" id="nhsuk-cookie-confirmation-banner" style="display:none;">
    <div class="nhsuk-width-container">
      <p id="nhsuk-success-banner__message">You can change your cookie settings at any time using our <a href="/cookie-policy">cookies page</a>.</p>
    </div>
  </div>
</div>