// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

.sip-info-card {
    svg {
        display: none;
    }

    .nhsuk-list--tick, 
    .nhsuk-list--cross {
        list-style: disc;
        padding-left: 20px;
    }
}