{% extends 'layout.html' %}

{% set pageHeading = "What is your employment status?" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/eligible-1-backend">
        {{ radios({
          "idPrefix": "elig-employed",
          "name": "elig-employed",
          "fieldset": {
            "legend": {
              "text": pageHeading,
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "employed",
              "text": "I am employed"
            },
            {
              "value": "self-employed",
              "text": "I am self-employed"
            },
            {
              "value": "unemployed",
              "text": "I am unemployed"
            }
          ]
        }) }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>
        
        
    </div>
  </div>

{% endblock %}