{% extends 'layout.html' %}

{% set pageHeading = serviceName %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>
            You can use this service if the NHS COVID-19 app has detected that you have been in contact with a person who has coronavirus. This means you are advised to self-isolate.
        </p>

        <p>
            If you are on a low income, are unable to work from home and will lose income as a result of self-isolating, you may be entitled to a payment of £500 from your local authority under the Test and Trace Support Payment scheme.
        </p>

        <p>
            You will need to answer some questions in the next section to check whether you could be eligible.
        </p>

        <h2 class="nhsuk-heading-l">
            Before you start
        </h2>

        <p>
            You cannot claim this payment more than once within a self-isolation period. You can claim it multiple times for separate self-isolation periods, as long as they do not overlap with each other.
        </p>
        <p>
            As part of the application process, you will register with NHS Test and Trace.  To claim this payment, you need to register before your self-isolation period finishes.
        </p>
        <p>
            When you register with NHS Test and Trace, you will be legally required to self-isolate. If you do not comply, you may face a penalty of at least £1,000.
        </p>
        <p>
          If you have technical problems while you are using this service, select the ‘Financial support’ button in the app and find the link for <a href="help-support">Help to apply for the Test and Trace Support Payment</a>.
        </p>

        <br>

        <form action="/eligible-1">
            {{ button({
            "text": "Start now"
            }) }}
        </form>

    </div>
</div>

{% endblock %}