{% extends 'layout.html' %}

{% set pageHeading = "Sorry, the service is unavailable" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>
          You can try again later by using the ‘Financial support’ button in the app.
        </p>
    

    </div>
</div>

{% endblock %}