{% extends 'layout.html' %}

{% set pageHeading = "Sorry, there is a problem with the service" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>
          You can <a href="help-support">search for help</a> or try again by using the ‘Financial support’ button in the app.
        </p>
    

    </div>
</div>

{% endblock %}