{% extends 'layout.html' %}

{% set pageHeading = "Sorry, there is a problem with the service" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>
          If you have not submitted your details to NHS Test and Trace yet, you can use the ‘Financial support’ button in the app to try again.
        </p>

        <p>
          If you have submitted your details to NHS Test and Trace, you should receive an email and SMS. 
        </p>

        <p>
          You can <a href="help-support">search for help</a>.
        </p>
    

    </div>
</div>

{% endblock %}