{% extends 'layout.html' %}

{% set pageHeading = "Terms and conditions" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>
        <p>
            This accessibility statement applies to {{serviceName}}, run by <a href="">Department for Health and Social Care (DHSC)</a>.
        </p>
        <p>
            DHSC is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
        </p>
        <p>
            The website can be used on most web browsers. You should be able to:
        </p>
        <ul>
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to at least 300% and still see all the content</li>
            <li>navigate using just a keyboard</li>
            <li>navigate using speech recognition software</li>
            <li>read using a screen reader, including JAWS, NVDA and VoiceOver</li>
        </ul>
        <p>
            You can get more advice from <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> about how to make your computer or mobile phone easier to use if you have accessibility needs.
        </p>


        <hr class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">

        <h2>
            Compliance statement
        </h2>

        <p>
            This website is compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.
        </p>


    </div>
</div>

{% endblock %}