{% extends 'layout.html' %}

{% set pageHeading = "Terms and conditions" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>
        <p>
            Terms and conditions are currently not available. You can phone 119 or visit the FAQs for more information.
        </p>
        


    </div>
</div>

{% endblock %}