{% extends 'layout.html' %}

{% set pageHeading = "Privacy policy" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>
        <p>
          The privacy policy for this service is included as part of the <a href="https://contact-tracing.phe.gov.uk/help/privacy-notice">privacy information for NHS Test and Trace</a>, which is on a separate website.
        </p>
        <p>
          If you have not submitted your details to NHS Test and Trace yet, you will need to return to the previous tab to continue. To start again, use the ‘Financial support’ button in the app.
        </p>

    </div>
</div>

{% endblock %}