{% extends 'layout.html' %}

{% set pageHeading = "Accessibility statement" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>
        <p>
            This accessibility statement applies to {{serviceName}}, run by <a href="">Department for Health and Social Care (DHSC)</a>.
        </p>
        <p>
            DHSC is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
        </p>
        <p>
            The website can be used on most web browsers. You should be able to:
        </p>
        <ul>
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to at least 300% and still see all the content</li>
            <li>navigate using just a keyboard</li>
            <li>navigate using speech recognition software</li>
            <li>read using a screen reader, including VoiceOver, TalkBack, JAWS and NVDA</li>
        </ul>
        <p>
            You can get more advice from <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> about how to make your computer or mobile phone easier to use if you have accessibility needs.
        </p>


        <hr class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">

        <h2>
            Compliance statement
        </h2>

        <p>
            This website is compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.
        </p>


        {# <hr class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">

        <h2>
            Non-accessible content
        </h2>
        <p>
            The content listed below is non-accessible due to non-compliance with the accessibility regulations.
        </p>
        <ul>
            <li>
                Interactive maps - screen readers will skip the maps, but addresses and other information are provided alongside any map in text form - fails under WCAG 2.1 section 4.1.2 (Name, role, value)
            </li>
            <li>
                Consistent use of landmarks - fails WCAG 2.1 section 1.3.6 (Identify purpose)
            </li>
            <li>
                Consistent use of error validation alerting for screen readers - fails WCAG 2.1 section 3.3.1 (Error identification)
            </li>
        </ul> #}


        {# <hr class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">

        <h2>
            How to get information about NHS 111 in an accessible format
        </h2>
        <p>
            NHS 111 online is part of the wider NHS 111 service supporting urgent and emergency care, and you can access care in different ways.
        </p>
        <p>
            Information about NHS 111 is available in <a href="https://www.nhs.uk/using-the-nhs/nhs-services/urgent-and-emergency-care/nhs-111/" data-event-trigger="click" data-event-value="Accessibility Statement: NHS 111 more information">different formats like large print, easy read, audio recording or British Sign Language (BSL)</a> or you can contact <a href="mailto:enquiries@nhsdigital.nhs.uk" data-event-trigger="click" data-event-value="Accessibility Statement: email enquiries">enquiries@nhsdigital.nhs.uk</a>.
        </p> #}


        <hr class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">

        <h2>
            Feedback and reporting accessibility problems with this service
        </h2>
        <p>
            We continually test the website with real users and make improvements as soon as we can. We encourage feedback from users of the service.
        </p>
        <p>
            If you find any problems not listed on this page or you think we're not meeting accessibility requirements, <a href="help-support">let us know about any issues</a>.
        </p>

        <hr class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">

        <h2>
            Enforcement procedure
        </h2>
        <p>
            The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations. If you're not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.
        </p>
        
        <hr class="nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">

        <h2>
            Preparation of this accessibility statement
        </h2>
        <p>
            This statement was prepared on 24 November 2020. It was last updated on 24 November 2020.
        </p>
    </div>
</div>

{% endblock %}