{% extends 'layout.html' %}

{% set pageHeading = "Help to apply for the Test and Trace Support Payment" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>
            You can <a href="https://faq.covid19.nhs.uk/category/?id=CAT-01051">search for help</a> to apply for the Test and Trace Support Payment.
        </p>
        <p>
        	If you have a problem that is not listed in the FAQs, call the coronavirus testing contact centre on 119. The contact centre is open from 8am to 8pm.
        </p>
    </div>
</div>

{% endblock %}