<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

{% set pageHeading = "Landing page" %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        {{serviceName}}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Prototype</span>
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-lede-text">
        This prototype is built with the <a href="https://nhsuk-prototype-kit.azurewebsites.net/docs">NHS Prototype Kit</a>.
      </p>

      <hr>

      <h2>
        Start the prototype
      </h2>

      <p>
        Start using the prototype, to see the screens designed.
      </p>

      {{ button({
        "text": "Start the prototype",
        "href": "start"
      }) }}

      <hr>

      <h2>
        Pages in this prototype
      </h2>

      {{ table({
        panel: false,
        caption: "",
        firstCellIsHeader: false,
        head: [
          {
            text: "Section"
          },
          {
            text: "URL"
          }
        ],
        rows: [
          [
            {
              text: "Start page"
            },
            {
              html: "<a href='start'>/start</a>"
            }
          ],
          [
            {
              text: "What is your employment status?"
            },
            {
              html: "<a href='eligible-1'>/eligible-1</a>"
            }
          ],
          [
            {
              text: "Are you able to work from home?"
            },
            {
              html: "<a href='eligible-2'>/eligible-2</a>"
            }
          ],
          [
            {
              text: "Will you lose income as a result of self-isolating?"
            },
            {
              html: "<a href='eligible-3'>/eligible-3</a>"
            }
          ],
          [
            {
              html: "Do you receive any of the following benefits?"
            },
            {
              html: "<a href='eligible-4'>/eligible-4</a>"
            }
          ],
          [
            {
              html: "You are not eligible"
            },
            {
              html: "<a href='not-eligible'>/not-eligible</a>"
            }
          ],
          [
            {
              html: "You may be eligible"
            },
            {
              html: "<a href='may-be-eligible'>/may-be-eligible</a>"
            }
          ],
          [
            {
              html: "Applying for a Test and Trace Support Payment"
            },
            {
              html: "<a href='journey-planner'>/journey-planner</a>"
            }
          ],
          [
            {
              html: "NHS login (black box)"
            },
            {
              html: "<a href='nhs-login'>/nhs-login</a>"
            }
          ],
          [
            {
              html: "You have successfully registered (for NHS login)"
            },
            {
              html: "<a href='nhs-login-success'>/nhs-login-success</a>"
            }
          ],
          [
            {
              html: "Enter your personal details"
            },
            {
              html: "<a href='personal-details'>/personal-details</a>"
            }
          ],
          [
            {
              html: "Check your personal details"
            },
            {
              html: "<a href='personal-details-check'>/personal-details-check</a>"
            }
          ],
          [
            {
              html: "You are legally required to self-isolate"
            },
            {
              html: "<a href='legally-required'>/legally-required</a>"
            }
          ],
          [
            {
              html: "What happens next"
            },
            {
              html: "<a href='next-steps'>/next-steps</a>"
            }
          ],
          [
            {
              html: "Help and support"
            },
            {
              html: "<a href='help-support'>/help-support</a>"
            }
          ],
          [
            {
              html: "Sorry, try again later (Error)"
            },
            {
              html: "<a href='error-service'>/error-service</a>"
            }
          ],
          [
            {
              html: "Sorry, something went wrong (Error)"
            },
            {
              html: "<a href='error-something-wrong'>/error-something-wrong</a>"
            }
          ],
          [
            {
              html: "Invalid link (Error)"
            },
            {
              html: "<a href='error-token'>/error-token</a>"
            }
          ],
          [
            {
              html: "Your application is in progress (Error)"
            },
            {
              html: "<a href='error-duplicate'>/error-duplicate</a>"
            }
          ],
          [
            {
              html: "Registration expired (Error)"
            },
            {
              html: "<a href='error-expired'>/error-expired</a>"
            }
          ]
        ]
      }) }}

      <hr>
      
      <h2>
        About this prototype
      </h2>

      <p>
        This prototype is to quickly produce design concepts. It is not production code. However, it should use standard components which can be found in the <a href="https://service-manual.nhs.uk/design-system">NHS digital service manual</a>.
      </p>

      <p>
        There is also an <a href="/page-example">example page</a>, which contains a selection of NHS.UK frontend styles and components.
      </p>

      <hr>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
