{% extends 'layout.html' %}

{% set pageHeading = serviceName %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>To apply for this payment, you will need to complete the following steps.</p>

        <p>These steps may vary depending on your local authority.</p>

        <div class="nhsuk-do-dont-list sip-info-card">
            <h3 class="nhsuk-do-dont-list__label">1. NHS login</h3>
            <p>Log in or register for an NHS account so we can check who you are.</p>
        </div>

        <div class="nhsuk-do-dont-list sip-info-card">
            <h3 class="nhsuk-do-dont-list__label">2. Enter personal details</h3>
            <p>You will be asked to enter your name, email, phone number and postcode.</p>
        </div>

        <div class="nhsuk-do-dont-list sip-info-card">
            <h3 class="nhsuk-do-dont-list__label">3. NHS Test and Trace</h3>
            <p>
                You will receive an email and text message from NHS Test and Trace (this usually takes around 30 minutes).
            </p>
            <p>
                You will need to enter some personal details to register for NHS Test and Trace if you haven’t already done this.
            </p>
            <p>
                When you’ve registered, you’ll receive an account number (sometimes known as a CTAS number).
            </p>
        </div>

        <div class="nhsuk-do-dont-list sip-info-card">
            <h3 class="nhsuk-do-dont-list__label">4. Your local authority</h3>
            <p>You’ll receive a link to your local authority’s website by email. Your local authority will ask you for your account number (CTAS number). They may also ask you for:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>
                    proof of your identity
                </li>
                <li>
                    proof of benefits you’ve received
                </li>
                <li>
                    your employment details (including National Insurance number)
                </li>
                <li>
                    your bank account details
                </li>
            </ul>
        </div>

        <div class="nhsuk-do-dont-list sip-info-card">
            <h3 class="nhsuk-do-dont-list__label">5. Your payment</h3>
            <p>If your application is successful, you will receive the Test and Trace Support Payment from your local authority.</p>
        </div>

        <form action="/nhs-login">

            {{ insetText({
                "HTML": "<p>If you do not already have an NHS login, you can create one on the next page.</p>"
            }) }}

            {{ button({
                "classes": "button--nhs-login",
                "text": "Continue with NHS login"
            }) }}
        </form>

        </div>
    </div>
</div>

{% endblock %}