{% extends 'layout.html' %}

{% set pageHeading = serviceName %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>"Journey planner" type content will go here</p>

        <form action="/nhs-login">

            {{ insetText({
                "HTML": "<p>If you don't already have an NHS login account, you can create one on the next page.</p>"
            }) }}

            {{ button({
            "text": "Continue with NHS login"
            }) }}
        </form>

        </div>
    </div>
</div>

{% endblock %}