{% extends 'layout.html' %}

{% set pageHeading = "You may be eligible" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>
            Based on your answers, you might be eligible to claim a payment.
        </p>

        <!-- <h2 class="nhsuk-heading-l">Fraud statement</h2> -->

        {{ warningCallout({
            "heading": "Fraud statement",
            "HTML": '<p>By continuing, you are agreeing to:</p> <ul class="nhsuk-list nhsuk-list--bullet"><li>only claim once in a single isolation period</li><li>follow the rules on self-isolation</li></ul>'
          }) }}
        
        {{ checkboxes({
        "idPrefix": "agree",
        "name": "agree",
        "fieldset": {
            "legend": {
            "text": 'Do you accept the fraud statement?',
            "isPageHeading": false,
            "classes": 'nhsuk-u-visually-hidden'
            }
        },
        "items": [
            {
            "value": "true",
            "html": "I accept the fraud statement"
            }
        ]
        }) }}

        <br>

        <form action="/journey-planner">
            {{ button({
            "text": "Start your claim"
            }) }}
        </form>

        </div>
    </div>
</div>

{% endblock %}