{% extends 'layout.html' %}

{% set pageHeading = "You may be eligible" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>
            Based on the information you’ve given, you may be eligible for a Test and Trace Support Payment or a discretionary payment from your local authority.
        </p>

        <!-- <h2 class="nhsuk-heading-l">Fraud statement</h2> -->

        {{ warningCallout({
            "heading": "Fraud",
            "HTML": '<p>If you are caught committing fraud to claim this payment, you will face prosecution and the money will be recovered from you.</p><p>This could include giving false information, failing to self-isolate or claiming the payment more than once for the same self-isolation period.</p>'
          }) }}
        
        {{ checkboxes({
        "idPrefix": "agree",
        "name": "agree",
        "fieldset": {
            "legend": {
            "text": 'Do you understand and accept this information?',
            "isPageHeading": false,
            "classes": 'nhsuk-u-visually-hidden'
            }
        },
        "items": [
            {
            "value": "true",
            "html": "I understand and accept this information"
            }
        ]
        }) }}

        <br>

        <form action="/journey-planner">
            {{ button({
            "text": "Apply for a payment"
            }) }}
        </form>

    </div>
</div>

{% endblock %}