{% extends 'layout.html' %}

{% set pageHeading = "Enter your details to send to NHS Test and Trace" %}

{% block pageTitle %}
  {{pageHeading}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/mvp-form-check">

        <h1 class="nhsuk-heading-xl">
          {{pageHeading}}
        </h1>

        {{ insetText({
          "HTML": "<p>The personal details you provide in this service will not be held anywhere in the app.</p>"
      }) }}
        
        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "first-name",
          "value": data["first-name"]
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "last-name",
          "value": data["last-name"]
        }) }}

        {{ input({
          "label": {
            "text": "Email address"
          },
          "id": "email-address",
          "name": "email-address",
          "value": data["email-address"]
        }) }}

        {{ input({
          "label": {
            "text": "UK mobile number"
          },
          "id": "phone-number",
          "name": "phone-number",
          "type": "tel",
          "value": data["phone-number"]
        }) }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>
        
        
    </div>
  </div>

{% endblock %}