{% extends 'layout.html' %}

{% set pageHeading = "Enter your personal details" %}

{% block pageTitle %}
  {{pageHeading}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/mvp-next-steps">

        <h1 class="nhsuk-heading-xl">
          {{pageHeading}}
        </h1>

        {{ insetText({
          "HTML": "<p>None of your personal details will be given to the app.</p>"
      }) }}
        
        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "first-name",
          "value": data["first-name"]
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "last-name",
          "value": data["last-name"]
        }) }}

        <h2 class="nhsuk-heading-m">
          Your NHS login contact details
        </h2>

        <p>
          These details are taken from your NHS login account. NHS Test and Trace will use them to send you an email and text message so you can complete the next step.
        </p>

        <p>
        	<b>Email address</b> <br> name@email.com
        </p>

        <p>
          <b>Mobile number</b> <br> 07890 123456
        </p>

        {{ radios({
          "idPrefix": "18-over",
          "name": "18-over",
          "fieldset": {
            "legend": {
              "text": "Are you 18 or over?",
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": false
            }
          },
          "hint": {
            "text": "NHS Test and Trace will use this information to provide the right service to you."
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes",
              "checked": checked('18-over', 'yes')
            },
            {
              "value": "no",
              "text": "No",
              "checked": checked('18-over', 'no')
            }
          ]
        }) }}

          <div class="nhsuk-do-dont-list sip-info-card">
            <h2 class="nhsuk-do-dont-list__label">Important information</h2>
            <p>
              When you register with NHS Test and Trace, you will be legally required to self-isolate. You must not leave home for any reason other than a genuine emergency – for example, to seek medical care or to escape harm. If you do not comply, you may face a penalty of at least £1,000 or prosecution and a fine.
            </p>

            <p>
              You are advised:
            </p>

            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>
                not to have visitors in your home, including friends and family – except for essential care
              </li>
              <li>
                to try to avoid contact with anyone you live with as much as possible
              </li>
              <li>
                to order food or medicine online or by phone, or ask friends and family to drop it off at your home
              </li>
            </ul>
  
            <p>
              If you do not have symptoms:
            </p>
  
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>
                people you live with do not need to self-isolate
              </li>
              <li>
                people in your support bubble do not need to self-isolate
              </li>
            </ul>
  
            <p>The app still cannot be used to track you.</p>
          </div>
      
          {{ checkboxes({
            "idPrefix": "agree-isolate",
            "name": "agree-isolate",
            "fieldset": {
                "legend": {
                "text": 'Do you understand you will be legally required to self-isolate?',
                "isPageHeading": false,
                "classes": 'nhsuk-u-visually-hidden'
                }
            },
            "items": [
                {
                "value": "true",
                "html": "I understand I will be legally required to self-isolate",
                "checked": checked("agree-isolate", "true")
                }
            ]
            }) }}


        {{ button({
          "text": "Submit and continue"
        }) }}
      </form>
        
        
    </div>
  </div>

{% endblock %}