{% extends 'layout.html' %}

{% set pageHeading = "What happens next" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>
          You have not applied for the Test and Trace Support Payment yet. To do this, you will need to complete the following steps.
        </p>

        <div class="nhsuk-do-dont-list sip-info-card">
            <h2 class="nhsuk-do-dont-list__label">{{step3Label}}</h2>
            <div class="nhs-sip-text-with-icon nhs-sip-email-icon">
                <p>
                  Your details have been submitted to NHS Test and Trace. They will send you an email and text message in the next 30 minutes.
                </p>
                <p>
                  If you cannot find the email, you should check your junk mail or spam folder.
                </p>
            </div>
            <p>
              Before you can apply for the payment, you will need to:
            </p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>
                follow the link to enter some personal details
              </li>
              <li>
                take note of your NHS Test and Trace Account ID, which you will need for the next step
              </li>
            </ul> 
            {{ insetText({
                "HTML": "<p>If you do not receive an email or text message within 2 hours, you can <a href='help-support'>search for help</a>.</p>"
              }) }}
        </div>

        <div class="nhsuk-do-dont-list sip-info-card">
          <h2 class="nhsuk-do-dont-list__label">{{step4Label}}</h2>
          <p>
            When you have followed the steps above, you can visit your local authority’s website to apply for the payment. 
          </p>
          <p>
            You can find the application form on your local authority’s website by using this link: <a href="https://www.gov.uk/test-and-trace-support-payment">https://www.gov.uk/test-and-trace-support-payment</a>. Make a note of this so you can return to it later.
          </p>
          <p>
            As part of your application, you will need to enter your NHS Test and Trace Account ID. This is the 8-digit number included in the email and SMS from NHS Test and Trace. Your local authority may call this something different, such as an account number or CTAS number.
          </p>

          <p>
            They will ask you for information, including:
          </p>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>
              proof of your identity
            </li>
            <li>
              proof of benefits you’ve received
            </li>
            <li>
              your employment details (including National Insurance number)
            </li>
            <li>
              your bank account details
            </li>
          </ul>
        </div>
      

        <h2 class="nhsuk-heading-l">
            Continue to self-isolate
        </h2>

        <p>You must not leave your home until the end of your self-isolation period.</p>

        <p>NHS Test and Trace may contact you while you’re self-isolating to check in and offer support.</p>

        <p>You do not need to take a test unless you have coronavirus symptoms. You can <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/symptoms/">check what the coronavirus symptoms are</a>.</p>

        {{ insetText({
            "HTML": "<p>You can close this page and continue when you receive a link from NHS Test and Trace.</p>"
          }) }}
    </div>
</div>

{% endblock %}