{% extends 'layout.html' %}

{% set pageHeading = "Enter your personal details" %}

{% block pageTitle %}
  {{pageHeading}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/mvp-next-steps">

        <h1 class="nhsuk-heading-xl">
          {{pageHeading}}
        </h1>

        {{ insetText({
          "HTML": "<p>These details will be sent to NHS Test and Trace so they can carry out some checks.</p><p>None of your personal details will be given to the app.</p>"
      }) }}
        
        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "first-name",
          "value": data["first-name"]
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "last-name",
          "value": data["last-name"]
        }) }}

        {{ input({
          "label": {
            "text": "Email address"
          },
          "id": "email-address",
          "name": "email-address",
          "value": data["email-address"]
        }) }}

        {{ input({
          "label": {
            "text": "UK mobile number"
          },
          "id": "phone-number",
          "name": "phone-number",
          "type": "tel",
          "value": data["phone-number"]
        }) }}

          <div class="nhsuk-do-dont-list sip-info-card">
            <h2 class="nhsuk-do-dont-list__label">Important information</h2>
            <p>
              When you submit your details to NHS Test and Trace, you will be legally required to self-isolate. This means you must:
            </p>
  
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>
                not leave your home for any reason – if you need food or medicine, order it online or by phone, or ask friends and family to drop it off at your home
              </li>
              <li>
                not have visitors in your home, including friends and family – except for essential care
              </li>
              <li>
                try to avoid contact with anyone you live with as much as possible
              </li>
            </ul>
  
            <p>
              If you do not have symptoms:
            </p>
  
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>
                people you live with do not need to self-isolate
              </li>
              <li>
                people in your support bubble do not need to self-isolate
              </li>
            </ul>
  
            <p>If you do not comply, you may face a penalty of at least £1,000.</p>
            
            <p>The app still cannot be used to track you.</p>
          </div>
      
          {{ checkboxes({
            "idPrefix": "agree-isolate",
            "name": "agree-isolate",
            "fieldset": {
                "legend": {
                "text": 'Do you understand you will be legally required to self-isolate?',
                "isPageHeading": false,
                "classes": 'nhsuk-u-visually-hidden'
                }
            },
            "items": [
                {
                "value": "true",
                "html": "I understand I will be legally required to self-isolate",
                "checked": checked("agree-isolate", "true")
                }
            ]
            }) }}


        {{ button({
          "text": "Submit and continue"
        }) }}
      </form>
        
        
    </div>
  </div>

{% endblock %}