{% extends 'layout.html' %}

{% set pageHeading = "Check your details before you send to NHS Test and Trace" %}

{% block pageTitle %}
  {{pageHeading}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/next-steps">

        <h1 class="nhsuk-heading-xl">
          {{pageHeading}}
        </h1>

        {{ insetText({
          "HTML": "<p>The personal details you provide in this service will not be held anywhere in the app.</p>"
      }) }}
        
        {{ summaryList({
          rows: [
            {
              key: {
                text: "First name"
              },
              value: {
                text: data["first-name"]
              },
              actions: {
                items: [
                  {
                    href: "personal-details",
                    text: "Change",
                    visuallyHiddenText: "first name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Last name"
              },
              value: {
                text: data["last-name"]
              },
              actions: {
                items: [
                  {
                    href: "personal-details",
                    text: "Change",
                    visuallyHiddenText: " last name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                text: data["email-address"]
              },
              actions: {
                items: [
                  {
                    href: "personal-details",
                    text: "Change",
                    visuallyHiddenText: "email"
                  }
                ]
              }
            },
            {
              key: {
                text: "UK mobile number"
              },
              value: {
                text: data["phone-number"]
              },
              actions: {
                items: [
                  {
                    href: "personal-details",
                    text: "Change",
                    visuallyHiddenText: "phone number"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ insetText({
          "HTML": "<p>When you continue, you will be legally required to self-isolate. This means .... [extra content here]</p>"
        }) }}


        {{ checkboxes({
          "idPrefix": "agree-isolate",
          "name": "agree-isolate",
          "fieldset": {
              "legend": {
              "text": 'Do you understand you will now be legally required to self-isolate?',
              "isPageHeading": false,
              "classes": 'nhsuk-u-visually-hidden'
              }
          },
          "items": [
              {
              "value": "true",
              "html": "I understand I will now be legally required to self-isolate",
              "checked": checked("agree-isolate", "true")
              }
          ]
          }) }}
        
        

        {{ button({
          "text": "Submit and continue"
        }) }}
      </form>
        
        
    </div>
  </div>

{% endblock %}