{% extends 'layout.html' %}

{% set pageHeading = "Check if you can apply for a Test and Trace Support Payment" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>
            You can use this service if the NHS COVID-19 app has detected that you have been in contact with a person who has coronavirus. This means you are advised to self-isolate.
        </p>

        <p>
            You may be entitled to a payment of £500 from your local authority under the Test and Trace Support Payment scheme if you are:
        </p>

        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>
            16 or over
          </li>
          <li>
            employed or self-employed
          </li>
          <li>
            unable to work from home and will lose income as a result of self-isolating
          </li>
          <li>
            on a low income
          </li>
        </ul>

        <p>
          Your local authority will tell you when you apply if you’re counted as being on a low income.
        </p>

        <h2 class="nhsuk-heading-l">
            Before you start
        </h2>

        <p>
            You cannot claim this payment more than once within a self-isolation period. You can claim it multiple times for separate self-isolation periods, as long as they do not overlap with each other.
        </p>
        
        <p>
          If you have technical problems while you are using this service, select the ‘Financial support’ button in the app and find the link for <a href="help-support">Help to apply for the Test and Trace Support Payment</a>.
        </p>

        {{ insetText({
          "HTML": "<p>
            Before you can apply for the payment, you will need to register with NHS Test and Trace. This is because the app is anonymous and we need to know who you are to check your eligibility.</p><p>To claim this payment, you need to register before your self-isolation period finishes. You can check this using the self-isolation countdown timer in the app.
            </p>"
        }) }}

        <form action="/mvp-form">

          <div class="nhsuk-do-dont-list sip-info-card">
              <h2 class="nhsuk-do-dont-list__label">Important information</h2>
              <p>If you are caught committing fraud to claim this payment, you will face prosecution and the money will be recovered from you.</p>
              <p>Examples of fraud could include deliberately giving false information, failing to self-isolate or claiming the payment more than once for the same self-isolation period.</p>
          </div>
          
          {{ checkboxes({
          "idPrefix": "agree",
          "name": "agree",
          "fieldset": {
              "legend": {
              "text": 'Do you understand and accept this information?',
              "isPageHeading": false,
              "classes": 'nhsuk-u-visually-hidden'
              }
          },
          "items": [
              {
              "value": "true",
              "html": "I understand and accept this information"
              }
          ]
          }) }}
            
              
          {{ button({
          "text": "Start now"
          }) }}
        </form>

    </div>
</div>

{% endblock %}