{% extends 'layout.html' %}

{% set pageHeading = "What happens next" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        {{ list({
            "title": "Steps completed",
            "type": "tick",
            "items": [
              {
                "item": "1. You have logged in with NHS login"
              },
              {
                "item": "2. You have entered your personal details"
              }
            ]
        }) }}

        <div class="nhsuk-do-dont-list sip-info-card">
            <h2 class="nhsuk-do-dont-list__label">3. You will receive an email and text message</h2>
            <p>Your details have now been sent to NHS Test and Trace.</p>
            <div class="nhs-sip-text-with-icon nhs-sip-email-icon">
                <p>
                    NHS Test and Trace should send you an email and text message within the next 30 minutes.
                </p>
                <p>
                    If you cannot find the email, you should check your junk mail or spam folder.
                </p>
            </div>
            <div class="nhs-sip-text-with-icon nhs-sip-link-icon">
                <p>
                    This will include a link to continue your application.
                </p>
            </div>
        </div>

        {{ insetText({
            "HTML": "<p>If you do not receive an email or text message within 2 hours, you should <a href='help-support'>check the help and support section</a>.</p>"
          }) }}

        <h2 class="nhsuk-heading-l">
            Continue to self-isolate
        </h2>

        <p>After applying for the payment, you will be legally required to self-isolate and may face a penalty of at least £1,000 if you do not comply.</p>

        <p>The app still cannot be used to track you.</p>

        <p>You do not need to take a test unless you have symptoms.</p>

        {{ insetText({
            "HTML": "<p>You can close this page and continue when you receive your link from NHS Test and Trace.</p>"
          }) }}

        </div>
    </div>
</div>

{% endblock %}