{% extends 'layout.html' %}

{% set pageHeading = "You have successfully logged in" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>
        <p>
          You have successfully confirmed who you are with NHS login.
        </p>

        <p>
          Next, we need you to enter some personal details.
        </p>

        {{ button({
          "text": "Continue",
          "href": "personal-details"
        }) }}
    </div>
</div>

{% endblock %}