{% extends 'layout.html' %}

{% set pageHeading = "Enter your email address" %}
{% set falseServiceName = "NHS login" %}

{% block pageTitle %}
  {{pageHeading}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/nhs-login-1">

        <h1 class="nhsuk-heading-xl">
          {{pageHeading}}
        </h1>
        
        {{ input({
          "label": {
            "text": "Email address"
          },
          "id": "nhs-login-id",
          "name": "nhs-login-id"
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

        {{ insetText({
          "HTML": "<h3>What is NHS login?</h3><p>You can use your NHS login to access health websites and apps that have the NHS login button. If you do not have an NHS login, enter your email address to set one up.</p>"
        }) }}

        {{ warningCallout({
          "heading": "Coronavirus (COVID-19)",
          "HTML": "<p>For health information and advice, read <a href=''>NHS guidance about Coronavirus</a></p>"
        }) }}
        

        
      </form>
        
        
    </div>
  </div>

{% endblock %}