{% extends 'layout.html' %}

{% set pageHeading = "You are not eligible" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>
        <p>
          Based on your answers, you are not eligible for the Test and Trace Support Payment.
        </p>
        <h2 class="nhsuk-heading-l">
          Other support
        </h2>
        <p>
          If you cannot work from home, you may be eligible for Statutory Sick Pay. If you need evidence for your employer, you can download a letter from the <a href="https://111.nhs.uk/isolation-note">Isolation Note Service</a>.
        </p>
        <p>
          You can also:
        </p>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>
            <a href="https://www.gov.uk/coronavirus/worker-support">check for other financial support</a> you may be able to access
          </li>
          <li>
            <a href="http://www.gov.uk/find-local-council">find practical support from your local council</a> (for example, food and prescription deliveries)
          </li>
        </ul>
        <h2 class="nhsuk-heading-l">
          Self-isolating
        </h2>
        <p>
          You are still at risk of spreading coronavirus (COVID-19) and should stay at home.
        </p>
        <p>
          Please self-isolate for the full period advised by your isolation countdown tracker to protect others, even if your symptoms improve. Staying at home will protect your friends, family, and the NHS.
        </p>
        <p>
          We know that self-isolation can be hard. Thank you for preventing the spread of coronavirus. If you have questions about how the advice applies to you, or are struggling with self-isolation, please call 111.
        </p>
    </div>
</div>

{% endblock %}