{% extends 'layout.html' %}

{% set pageHeading = "Enter your personal details" %}

{% block pageTitle %}
  {{pageHeading}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/personal-details-check">

        <h1 class="nhsuk-heading-xl">
          {{pageHeading}}
        </h1>

        {{ insetText({
          "HTML": "<p>The personal details you provide in this service will not be held anywhere in the app.</p>"
      }) }}
        
        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "first-name",
          "value": data["first-name"]
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "last-name",
          "value": data["last-name"]
        }) }}

        <br>

        {{ checkboxes({
          "idPrefix": "agree-18",
          "name": "agree-18",
          "fieldset": {
              "legend": {
              "text": 'Are you 18 or over?',
              "isPageHeading": false,
              "classes": 'nhsuk-u-visually-hidden'
              }
          },
          "items": [
              {
              "value": "true",
              "html": "I am 18 or over",
              "checked": checked("agree-18", "true")
              }
          ]
          }) }}

        <br>
        

        {{ button({
          "text": "Continue"
        }) }}
      </form>
        
        
    </div>
  </div>

{% endblock %}