{% extends 'layout.html' %}

{% set pageHeading = "Check your personal details" %}

{% block pageTitle %}
  {{pageHeading}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/legally-required">

        <h1 class="nhsuk-heading-xl">
          {{pageHeading}}
        </h1>

        {{ insetText({
          "HTML": "<p>The personal details you provide in this service will not be held anywhere in the app.</p>"
      }) }}
        
        {{ summaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: data["first-name"] + " " + data["last-name"]
              },
              actions: {
                items: [
                  {
                    href: "personal-details",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Full postcode"
              },
              value: {
                text: data["postcode"]
              },
              actions: {
                items: [
                  {
                    href: "personal-details",
                    text: "Change",
                    visuallyHiddenText: "postcode"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ insetText({
          "HTML": "<p>When you continue, you will be legally required to self-isolate. Read more information about <a target='_blank' href='https://www.nhs.uk/conditions/coronavirus-covid-19/self-isolation-and-treatment/when-to-self-isolate-and-what-to-do/'>what it means to self-isolate</a>.</p>"
        }) }}


        {{ checkboxes({
          "idPrefix": "agree-isolate",
          "name": "agree-isolate",
          "fieldset": {
              "legend": {
              "text": 'Do you understand you will now be legally required to self-isolate?',
              "isPageHeading": false,
              "classes": 'nhsuk-u-visually-hidden'
              }
          },
          "items": [
              {
              "value": "true",
              "html": "I understand I will now be legally required to self-isolate",
              "checked": checked("agree-isolate", "true")
              }
          ]
          }) }}
        
        

        {{ button({
          "text": "Continue"
        }) }}
      </form>
        
        
    </div>
  </div>

{% endblock %}