{% extends 'layout.html' %}

{% set pageHeading = "Enter your personal details" %}

{% block pageTitle %}
  {{pageHeading}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/personal-details-check">

        <h1 class="nhsuk-heading-xl">
          {{pageHeading}}
        </h1>

        {{ insetText({
          "HTML": "<p>None of your personal details will be given to the app.</p>"
      }) }}
        
        {{ input({
          "label": {
            "text": "First name"
          },
          "id": "first-name",
          "name": "first-name",
          "value": data["first-name"]
        }) }}

        {{ input({
          "label": {
            "text": "Last name"
          },
          "id": "last-name",
          "name": "last-name",
          "value": data["last-name"]
        }) }}

        {{ button({
          "text": "Continue"
        }) }}
      </form>
        
        
    </div>
  </div>

{% endblock %}