{% extends 'layout.html' %}

{% set pageHeading = "Your details have been submitted" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        {{ list({
          "title": "Steps completed",
          "type": "tick",
          "items": [
            {
              "item": "You have confirmed who you are with NHS login"
            },
            {
              "item": "You have submitted your personal details to NHS Test and Trace"
            }
          ]
      }) }}

      {{ insetText({
        "HTML": "
        <p>
          You haven’t applied for the Test and Trace Support Payment yet. To do this, you will need to:
        </p>
        <ul class='nhsuk-list nhsuk-list--bullet'>
          <li>
            register with NHS Test and Trace 
          </li>
          <li>
            apply to your local authority
          </li>
        </ul>
        <p>
          You can find out more about these steps on the following page.
        </p>"
        
      }) }}
        
        <form action="/next-steps">
            {{ button({
            "text": "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}