{% extends 'layout.html' %}

{% set pageHeading = "Your details have been submitted" %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        {{ list({
          "title": "Steps completed",
          "type": "tick",
          "items": [
            {
              "item": "Confirmed who you are with NHS login"
            },
            {
              "item": "You have entered your personal details"
            }
          ]
      }) }}

      {{ insetText({
        "HTML": "<p>You haven’t finished your application yet.</p>"
      }) }}
        
        <form action="/next-steps">
            {{ button({
            "text": "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}