{% extends 'layout.html' %}

{% set pageHeading = serviceName %}

{% block pageTitle %}
  {{pageHeading}} | {{serviceName}}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-xl">
            {{pageHeading}}
        </h1>

        <p>
            You can use this service if the NHS COVID-19 app has detected that you have been in contact with a person who has coronavirus. This means you are advised to self-isolate.
        </p>

        <p>
            If you are on a low income, are unable to work from home and will lose income as a result of self-isolating, you may be entitled to a payment of £500 from your local authority under the Test and Trace Support Payment scheme.
        </p>

        <p>
            You will need to answer some questions in the next section to check whether you could be eligible.
        </p>

        <h2 class="nhsuk-heading-l">
            Before you start
        </h2>

        <p>
            You cannot claim this payment more than once within a self-isolation period (which could be up to 14 days).
        </p>
        <p>
            If you apply for the payment, you will be legally required to self-isolate and may face a penalty of at least £1,000 if you do not comply.
        </p>
        <p>
            The app cannot be used to track you, and the personal details you provide to this service will not be held anywhere in the app.
        </p>

        <form action="/eligible-1">
            {{ button({
            "text": "Start now",
            "href": "/eligible-1"
            }) }}
        </form>

    </div>
</div>

{% endblock %}